body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #009579;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.home-button {
    float: right;
    margin-top: -70px;
    margin-right: 40px;
    color: #fff;
    list-style: none;
    background-color: #009579;
    border: none;
  }

.home-button:hover{
    text-decoration: underline;
  }

.title {
    margin: 0;
}

.separator {
    width: 50%;
    margin: 10px auto;
    border: 1px solid #fff;
}

.main {
    padding: 20px;
}

.workout-list {
    list-style: none;
    padding: 0;
}

.workout-list li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #1a1a1a;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}

#noWorkoutsMessage {
    text-align: center;
    margin-top: 20px;
}

#createWorkoutButton {
    background-color: #1a1a1a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#createWorkoutButton:hover {
    background-color: #000;
}
